.header-contacts__phone-number-accord.active {
    top: 25px;
}

.header-contacts__phone-number.active {
    opacity: 1;
}

.popup-dialog-menu.active {
    right: 639px;
}

@media (max-width: 1024px) {
    .popup-dialog-menu.active {
        right: 549px;
    }
}
@media (max-width: 576px) {
    .popup-dialog-menu.active {
       top:100%;
    }
}

.problems-item-popup.active:before{
    transform: rotate(180deg);
    background-size: contain;
    bottom: -90px;
}
.formula-item-popup.active:before{
    transform: rotate(180deg); 
    background-size: contain;
}
.formula-item-popup.active{  
    top: 90px;   
}
.transparency-slider.adaptive{
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;    
}
@media (max-width: 1091px){
    .transparency-slider-wrap{
        height: 412px;
        overflow: hidden;
    }
    .transparency-item{
        padding-bottom: 35px;
    }
}
.partners-slider{
    height: 153px;
    overflow: hidden;
}