.header-contacts__phone-number-accord.active {
    top: 25px;
}

.header-contacts__phone-number.active {
    opacity: 1;
}

.popup-dialog-menu.active {
    right: 639px;
}

@media (max-width: 1024px) {
    .popup-dialog-menu.active {
        right: 549px;
    }
}
@media (max-width: 576px) {
    .popup-dialog-menu.active {
       top:100%;
    }
}

.problems-item-popup.active:before{
    transform: rotate(180deg);
    background-size: contain;
    bottom: -90px;
}
.formula-item-popup.active:before{
    transform: rotate(180deg); 
    background-size: contain;
}
.formula-item-popup.active{  
    top: 90px;   
}
.transparency-slider.adaptive{
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;    
}
@media (max-width: 1091px){
    .transparency-slider-wrap{
        height: 412px;
        overflow: hidden;
    }
    .transparency-item{
        padding-bottom: 35px;
    }
}
@media (max-width: 700px) {
.slider-arrow{
    margin-top: -150px;
}
#reviews-arrow_left{
    left: 0;
}
#reviews-arrow_right {
    right: 0;
}
}
@media (max-width: 575px) {
    .slider-arrow {
        margin-top: -250px;
    }

    #reviews-arrow_left {
        left: 40px;
    }

    #reviews-arrow_right {
        right: 40px;
    }
}
.partners-slider{    
    height: 153px;
    overflow: hidden;
    /*margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;*/
}
/*.partners-slider__slide{
    flex-basis: 30%;
}*/